<header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">

            <a href="index.html" class="logo">
                <img src="assets/minions/logo.svg" alt="Logo" width="100" height="100">
            </a>

            <ul class="nav">
              <li><a href="" class="active">Home</a></li>
              <li><a href="">Projects</a></li>
              <li><a href="https://github.com/DrNefariogit/Superbekanntenkreis">GitHub</a></li>
              <li><a href="https://discord.gg/HKW5T3p4">Discord</a></li>
            </ul> 
          </nav>
        </div>
      </div>
    </div>
  </header>
  